<div class="card mb-3 border-0 bg-black mb-3">
  <div class="row">
    <div class="col-md-4">
      <img src="assets/images/c1.jpg" class="img-fluid d-block img-acc" alt="Sample">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h4 class="card-title">Nome evento</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
          This content is a little bit longer.</p>
        <p class="card-text"><small>Data</small></p>
      </div>
    </div>
  </div>
</div>