<div class="card mt-2 mb-2 border-0 bg-black event-card position-relative">
    <div class="d-flex align-items-center position-absolute top-50 start-50 translate-middle">
    <strong>Caricamento...</strong>
    <div class="spinner-border ms-3" role="status" aria-hidden="true"></div>
    </div>
    <div class="row">
    <div class="col-md-4 position-relative">
        <img src="" class="img-fluid d-block img-acc event-image opacity-0" alt="Immagine evento">
        <div
        class="d-flex align-items-center position-absolute top-50 start-50 translate-middle opacity-0 img-spinner">
        <div class="spinner-border ms-3" role="status" aria-hidden="true"></div>
        </div>
    </div>
    <div class="col-md-8 position-relative">
        <div class="card-body">
        <h3 class="card-title event-title display-6 fs-2"></h3>
        <p class="card-text event-part"></p>
        <small class="event-loc"></small><br>
        <small class="event-date"></small><br>
        <div class="position-relative start-50 translate-middle-x mt-5">
            <a href="" class="btn btn-light event-btn det-btn mt-3 mb-2" hidden>Dettagli</a>
            <% if (edit) { %>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-danger mt-3 mb-2 event-btn del-modal-trig" data-bs-toggle="modal"
            data-bs-target="#delpopup" hidden>
            Elimina
            </button>
            <% } %>
        </div>
            <small class="event-org"></small>
        </div>
    </div>
    </div>
</div>