<footer class="container-md border-top border-light position-relative mt-5 opacity-50">
    <div class="mt-3">
        <p>Codice: <a href="https://github.com/mattia01017/EV3NTO" class="link-light">GitHub</a></p>
        <p>
            Crediti:<br>
            Favicon: "Confetti Ball" emoji da <a href="https://twemoji.twitter.com/" class="link-light"> Twemoji</a><br>
        </p>
    </div>
</footer>