<header>
    <div class="container-fluid p-1 text-white">
        <h1 class="display-4 ms-3">EV3NTO</h1>
    </div>
    <nav class="navbar sticky-top navbar-dark navbar-expand-lg bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="d-flex nav-item dropdown">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <% if (!user) { %>
                        <li class="nav-item">
                            <a href="/account/login" class="nav-link">Accedi</a>
                        </li>
                        <% } else {%>
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <%- user %>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="/profilo/miei">I miei eventi</a></li>
                            <li><a class="dropdown-item" href="/profilo/partecipazioni">Le mie partecipazioni</a></li>
                            <li><a class="dropdown-item" href="/profilo/aggiungi">Crea un nuovo evento</a></li>
                            <li><hr class="dropdown-divider border-light border-opacity-25"></li>
                            <li><a class="dropdown-item" href="/?logout=1">Logout</a></li>
                        </ul>
                        <% } %>
                    </li>
                </ul>
                <form class="d-flex" role="search" method="get" action="/ricerca" id="search-form">
                    <input class="form-control me-2 bg-dark text-white" type="search" placeholder="Cerca evento"
                        name="q" aria-label="Search">
                    <button class="btn btn-outline-warning" type="submit">Vai</button>
                </form>
            </div>
        </div>
    </nav>
</header>