<div class="card-header bg-black">
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
            <a class="nav-link text-light" href="/profilo/miei">I miei eventi</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/profilo/partecipazioni">Eventi a cui partecipo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active bg-dark text-light border-dark" href="/profilo/aggiungi">Nuovo evento</a>
        </li>
    </ul>
</div>