<!DOCTYPE html>
<html lang="it">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Pagina inesistente - EV3NTO</title>
</head>
<body class="text-white bg-black">
    <%- include('./partials/header.ejs') %>
    <div class="card container-sm bg-dark mt-5">
        <div class="card-body">
            <h3 class="display-3 text-center">Errore 404</h3>
            <h2 class="display-5 text-center">La pagina che stai cercando non esiste</h2>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>