<!DOCTYPE html>
<html lang="it">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Aggiungi EV3NTO</title>
</head>
<body class="text-white bg-black">
    <%- include('./partials/header.ejs') %>
        <div class="container-lg mt-3">
            <h2 class="display-5">
                <%= user %>
            </h2>
            <div class="card border-0">
                <%- include('./partials/profilenavbar.ejs') %>
                    <div class="card-body bg-dark">
                        <form action="/profilo/aggiungi" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <label for="name" class="col-lg col-form-label">Nome evento*</label>
                                <div class="col-lg mb-3">
                                    <input required autocomplete="off" name="name" type="text" class="form-control bg-black text-white"
                                        id="name">
                                </div>
                                <label for="date" class="col-lg col-form-label">Data*</label>
                                <div class="col-lg mb-3">
                                    <input required name="date" type="date" class="form-control bg-black text-white"
                                        id="date">
                                </div>
                            </div>
                            <div class="row">
                                <label for="num" class="col-lg col-form-label">Numero massimo di partecipanti</label>
                                <div class="col-lg mb-3">
                                    <input type="number" name="num" class="form-control bg-black text-white" id="num" min="1">
                                </div>
                                <label for="image" class="col-lg col-form-label">Immagine</label>
                                <div class="col-lg mb-3">
                                    <input type="file" name="image" accept="image/x-png,image/gif,image/jpeg,image/jpg"
                                        class="form-control bg-black text-white" id="image">
                                </div>
                            </div>
                            <div class="row">
                                <label for="location" class="col-lg col-form-label">Luogo*</label>
                                <div class="col-lg mb-3">
                                    <input required autocomplete="off" type="text" name="location" class="form-control bg-black text-white"
                                        id="location">
                                </div>
                                <label class="col-lg col-form-label">Privacy*</label>
                                <div class="col-lg mb-3" id="priv-btns">
                                    <input type="radio" value="pubb" class="btn-check" name="privacy" id="public"
                                        checked>
                                    <label class="btn btn-outline-light" for="public">Pubblico</label>

                                    <input type="radio" value="priv" class="btn-check" name="privacy" id="private">
                                    <label class="btn btn-outline-light" for="private">Privato</label><br>
                                </div>
                            </div>
                            <div class="container-sm w-75 text-center">
                                <label for="desc" class="col-lg col-form-label mt-3">Descrizione</label>
                                <div class="col-lg">
                                    <textarea name="desc" class="form-control bg-black text-white mb-3"
                                        id="desc" rows="4"></textarea>
                                </div>
                                <input type="submit" value="Aggiungi" class="btn btn-light btn-lg mt-3">
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    <% include('./partials/footer.ejs') %>
</body>
<!-- Limita la selezione di una data ai soli giorni futuri -->
<script>    
    let d = new Date()
    document.getElementById('date')
        .setAttribute(
            'min', 
            `${d.getFullYear()}-${String(d.getMonth()+1).padStart(2, '0')}-${String(d.getDate()).padStart(2, '0')}`
        );
</script>
</html>