<!DOCTYPE html>
<html lang="en">
  
<%- include('./partials/head.ejs') %>

<body class="text-white bg-black">
  <%- include('./partials/header.ejs') %>
    <div class="card border-0 mb-3 mt-5 start-50 translate-middle-x" style="max-width: 450px;">
      <h1 class="card-header bg-light text-black display-6">Accedi</h1>
      <div class="card-body bg-dark">
        <form id="login-form" novalidate>
          <div class="mb-3 row">
            <label for="user" class="col-sm col-form-label">Username</label>
            <div class="col-sm">
              <input required type="text" class="form-control bg-black text-white" id="user" name="user">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="password" class="col-sm col-form-label">Password</label>
            <div class="col-sm">
              <input required type="password" class="form-control bg-black text-white" id="password" name="password">
            </div>
          </div>
          <input type="submit" value="Accedi"
            class="btn btn-light  position-relative start-50 bottom-0 translate-middle-x mt-1">
        </form>
      </div>
    </div>
    <p class="text-center">Non hai un account? <a href="/account/signin" class="link-warning">Registrati</a></p>
    <div id="toast" class="toast position-fixed start-50 bottom-0 bg-light text-black translate-middle w-25"
      role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex text-center">
        <div id="toast-text" class="toast-body fs-5">
          Credenziali errate
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
<script src="/js/login.js"></script>
</html>