<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Il mio account - EV3NTO</title>
</head>

<body class="text-white bg-black">
  <%- include('./partials/head.ejs') %>
    <main>
      <div class="container-lg mt-3">
        <h2 class="display-5">
          <%= user %>
        </h2>
        
        <div class="card text-center border-0">
          <%- include('./partials/profilenavbar.ejs') %>
            <div class="card-body bg-dark">
              
              
              <!--Inizio card evento-->
              <div class="card mb-3 border-0 bg-black mb-3 event-card" style="min-height: 80px;">
                <div class="d-flex align-items-center position-absolute start-50 top-50 translate-middle">
                  <strong>Caricamento...</strong class="display-6">
                  <div class="spinner-border ms-3" role="status" aria-hidden="true"></div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <img src="" class="img-fluid d-block img-acc event-image" alt="">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h4 class="card-title event-title display-6 fs-2"></h4>
                      <p class="card-text event-part"></p>
                      <p class="card-text event-desc"></p>
                      <small class="event-date"></small><br>  
                      <small class="event-loc"></small><br>
                      <a href="" class="btn btn-light event-btn det-btn mt-3 mb-2" hidden>Dettagli</a>
                      <% if (edit) { %>
                      <!-- Button trigger modal -->
                      <button type="button" class="btn btn-danger mt-3 mb-2 askdel-btn" data-bs-toggle="modal" data-bs-target="#delpopup">
                        Elimina
                      </button>

                      <!-- Modal -->
                      <div class="modal fade" id="delpopup" tabindex="-1" aria-labelledby="delpopupLabel" aria-hidden="true">
                        <div class="modal-dialog bg-dark">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title text-black" id="delpopupLabel">Confermi l'eliminazione?</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                              <a href="" class="btn btn-danger del-btn">Si</a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% } %>
                      <br><small class="event-org"></small>
                    </div>
                  </div>
                </div>
              </div>
              <!--Fine card evento-->

            </div>
        </div>
        <a href="/?logout=1"
          class="btn btn-outline-light position-relative start-50 translate-middle-x mt-5 mb-3">Logout</a><br>
        <a href="#" class="btn btn-outline-danger position-relative start-50 translate-middle-x mt-1 mb-3">Elimina il
          mio account</a>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
<script src="/js/fetchMyEvents.js"></script>
</html>