<!DOCTYPE html>
<html lang="it">

<%- include('./partials/head.ejs') %>


<body class="bg-black text-white">
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="container-sm">
            <h2 class="display-5 mt-3">Risultati ricerca:</h2>
            <div class="card bg-dark">
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>