<!DOCTYPE html>
<html lang="it">
<head>
  <meta name="description" content="Pagina di registrazione a EV3NTO">
  <%- include('./partials/head.ejs') %>
  <title>Iscriviti a EV3NTO</title>
  <script src="/js/checkSigninForm.js" defer></script>
</head>
<body class="text-white bg-black">
  <%- include('./partials/header.ejs') %>
    <div class="card border-0 mb-3 mt-5 start-50 translate-middle-x" style="max-width: 450px;">
      <h1 class="card-header bg-light text-black display-6">Registrati</h1>
      <div class="card-body bg-dark">
        <form id="signin-form" method="post" novalidate>
          <div class="mb-3 row has-validation">
            <label for="user" class="col-sm col-form-label">Email</label>
            <div class="col-sm">
              <input required type="email" class="form-control bg-black text-white" id="email" name="email">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="user" class="col-sm col-form-label">Username</label>
            <div class="col-sm">
              <input required type="text" class="form-control bg-black text-white" id="user" name="user">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="password" class="col-sm col-form-label">Password</label>
            <div class="col-sm">
              <input required type="password" class="form-control bg-black text-white" id="password" name="password">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="password2" class="col-sm col-form-label">Ripeti password</label>
            <div class="col-sm">
              <input required type="password" class="form-control bg-black text-white" id="password2" name="password2">
            </div>
          </div>
          <input type="submit" value="Registrati"
            class="btn btn-light  position-relative start-50 bottom-0 translate-middle-x mt-1">
        </form>
      </div>
    </div>
    <p class="text-center">Possiedi già un account? <a href="/account/login" class="link-warning">Accedi</a></p>
    <div id="toast" class="toast position-fixed start-50 bottom-0 bg-light text-black translate-middle"
      role="alert" aria-live="assertive" aria-atomic="true">
      <div class="text-center">
        <div id="toast-text" class="toast-body fs-5"></div>
      </div>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>