.car-img {
	object-fit: cover;
	filter: brightness(0.6)
}

.img-acc {
	height: 300px;
	width: 600px;
	object-fit: cover
}

.event-card {
	min-height: 280px
}

.home-cards {
	min-height: 170px
}


/* footer */
html, body {
	height: 100%;
}

footer {
	position: sticky;
	top: 100vh;	
}