<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <title>EV3NTO</title>
</head>
<body class="bg-black text-white">
  <%- head %>
  <main>
    <div id="home-car" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#home-car" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#home-car" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#home-car" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/c1.jpg" class="d-block w-100 car-img" alt="" height="400">
            <div class="carousel-caption d-none d-md-block">
              <h2>Concerti</h2>
              <p>Puoi tenere sotto controllo il numero di partecipanti</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="img/c2.jpg" class="d-block w-100 car-img" alt="eight="400">
            <div class="carousel-caption d-none d-md-block">
              <h2>Feste</h2>
              <p>È possibile organizzare party pubblici e farli conoscere oppure tenerli privati</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="img/c3.jpg" class="d-block w-100 car-img" alt="" height="400">
            <div class="carousel-caption d-none d-md-block">
              <h2>Spettacoli</h2>
              <p>Puoi organizzare eventi e assegnare posti a sedere</p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#home-car" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#home-car" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    
    <div class="container-lg mt-3">
      <div class="row mt-1">
          <div class="col-xl mb-2">
              <div class="card bg-dark border-0">
                  <div class="card-body">
                      <h2 class="display-6 card-title">Sei un organizzatore?</h2>
                      <p class="card-text">Iscriviti alla piattaforma per organizzare i tuoi eventi</p>
                      <a href="#" class="btn btn-light me-3">Registrati</a>
                      <a href="#" class="btn btn-outline-light">Accedi</a>
                  </div>
              </div>
          </div>
          <div class="col-xl mb-2">
              <div class="card bg-dark border-0">
                  <div class="card-body">
                      <h2 class="card-title display-6">Stai cercando un evento?</h2>
                      <p class="card-text">Visualizza gli eventi nelle vicinanze o inserisci un codice di invito</p>
                      <div class="d-flex">
                        <a href="#" class="btn btn-light me-3">Trova eventi</a>
                        <form action="">
                            <input class="form-control bg-dark text-white" type="text" placeholder="Inserisci codice evento">
                        </form> 
                      </div>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </main>         
</body>
</html>